{% extends 'apptamberia/portal.html' %}
{% load static %}
{% block nombrar_seccion %}

<h> Ya casi esta, solo necesitas llenar este formulario para registrarte como cliente en TAMBERIA ALEMANA </h>

{% endblock %}

{% block seccion %}

{% if form_registro.errors %}

<p style="color:crimson"> La informacion suministrada no es valida</p>

{% endif %}

<form action="{% url 'registrarUsuario' %}" method="POST"> {% csrf_token %}

    <table>

        {{form_registro.as_table}}
    </table>

    <input type="submit", value="Registrar Datos"> 

</form>

{% endblock %}